
    <form [formGroup]="form" (ngSubmit)="send()">
  <div style="width: 380px;">
  
  <nav>
  
    <div class="nav-wrapper z-depth-2">
      <a href="#" class="brand-logo center">InventarioChatbot</a>
    </div>
    <div class=" grey lighten-5" id="contentChat" style="height:500px; overflow-y: scroll;">
        <div *ngFor="let message of messages" style="width: 100% ;">
          <div *ngIf="message.message !== 'init'" 
          class=" z-depth-1"  
          [ngClass]="{'right': message.position === 'right', 'grey lighten-1':  message.position === 'right', 'blue lighten-1':  message.position === 'left'}" 
          style="display:inline-block; padding:10px; border-radius: 5px;line-height: 1; margin: 10px;max-width: 85%;
          " > <p [innerHtml]="message.message" style="display:inline-block;margin:0px;"></p>
            <div *ngIf="message.options?.length > 0" class="center" style=" padding-top: 10px;">
              <button type="button" class="btn blue lighten-1 z-depth-0" style="margin-left: 5px;" *ngFor="let item of message.options" (click)="sendOption(item)" >{{item}}</button>
            </div> 
        </div>
      
          <div *ngIf="message.message !== 'init'" class="clearfix"></div>
        </div>
    </div>
    <div>
      <div class="row grey lighten-5" style="border-top:rgb(238, 238, 238) solid 1px ;" >
      <div class="input-field  col s10">
        <input placeholder="Placeholder" id="first_name" type="text" formControlName="message"  [disabled]="type=='Buttons'" >
      </div>
      <div class=" col s2">
      
        <button class="btn " style="height: 55px;" [disabled]="type=='Buttons'">
          <i class="material-icons">send</i>
        </button>
      </div>
    </div>
    </div>
  </nav>
</div>
</form>
